h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
body {
font-size: 16px;
}
    ul {
        background-color: aqua;
        font-style: oblique;
        line-height: 30px;
        text-align: center;
        text-decoration: underline;
    }
    .qual {
        background-color: rgb(16, 77, 58);
    }

    }
    p {
        font-weight: 600;
        font-size: 3em;
    }
    #amarelo {
        background-color: yellow;
    }
    #vermelho {
        background-color: red;
    }
    #marrom {
        background-color: brown;