/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  }
  
  article {
  }
  
  h1 {
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 600px) {
    
    body {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 95%;
    }
    
    h1 {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.7rem;
        text-align: center;
    }
    
    article {
        font-size: 1.3rem;
        text-align: justify;
    }

    section {
        /* background-color: red; */
        box-sizing: border-box;
        margin-right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }    

    figure {
        padding: 2% 2%;
    }
    
    
  }