html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (max-width: 400px) {
    * {
        margin: 0;
        padding: 0; 
    }

    body {
        margin-left: 2%;
        margin-top: 2%;
    }
 
    header p {
        font-size: 1.4rem;
        font-weight: bold;
    }

    header nav ul{
        margin: 0;
        display: flex;
        list-style: none;
        padding: 1%;
        justify-content: space-evenly;    
    }

    h2 {
        text-align: center;
        margin: 3% 0;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    article p {
        text-align: justify;
        margin: 2%;
    }

    footer h3 {
        font-size: 0.5rem;
    }

    footer p {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 400px and max-width: 600px) {

}

@media screen and (min-width: 600 px) {

}